/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header form {
    display: flex;
    align-items: center;
}

header form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

header form button {
    padding: 6px 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

header form button:hover {
    background-color: #0056b3;
}

/* Banner */
.banner {
    background-color: #007BFF;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.banner .cta-button {
    background-color: white;
    color: #007BFF;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.banner .cta-button:hover {
    background-color: #e7e7e7;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}